.halfWidth {
    width: calc(50% - 10px);
}
.MuiChip-colorSecondary {
    background-color: #f44336 !important;
}
.top-products td.MuiTableCell-root.MuiTableCell-body {
    font-size: 10px;
}
.top-products {
    width: auto !important;
}

.rbc-month-row {
    overflow: unset;
}

.rbc-row-content {
    min-height: 150px;
}

.calendar-menu-style {
    background: rgba(0,0,0,0.45);
}

.calendar-menu-style .MuiPaper-root{
    left: 0px !important;
    top: 200px !important;
    margin: 0 auto;
    position: relative;
    width: 300px;
}

#map {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 700px;
}

.marker {
    background: red;
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}
  
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}