.halfWidth {
    width: calc(50% - 10px);
}
.MuiChip-colorSecondary, .MuiButton-containedSecondary {
    background-color: #f44336 !important;
}
.top-products td.MuiTableCell-root.MuiTableCell-body {
    font-size: 10px;
}
.top-products {
    width: auto !important;
}

.rbc-month-row {
    overflow: unset;
}

.rbc-row-content {
    min-height: 150px;
}

.calendar-menu-style {
    background: rgba(0,0,0,0.45);
}

.calendar-menu-style .MuiPaper-root{
    left: 0px !important;
    top: 200px !important;
    margin: 0 auto;
    position: relative;
    width: 300px;
}

#map {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 700px;
}

.marker {
    background-image: url('./logo.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}
  
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}

tr:nth-child(even) {background-color: #f2f2f2;}

.create-tabs header {
    position: fixed;
    width: calc(100% - 64px);
    max-width: 1920px;
}

.create-tabs .subheader header {
    margin-top: -24px;
    margin-left: -24px;
}

.create-tabs .tabContent {
    padding-top: 48px;
}

.create-tabs td {
    padding: 5px;
}